---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<div class="flex">
		<Header
			title="AldisFilms"
			links={["About Me", "Work","XYZ"]}
		/>
	</div>
</Layout>
